/* @@@@@@@@@@ Navbar related @@@@@@@@@@ */
nav {
  /*Sticky element toggles relative & fixed depending on scroll position*/
  position: sticky;
  z-index: 1;
  top: -70px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: linear-gradient(90deg, #05070d 0%, #0f1a25 50%, #172d3d 100%);
  transition: 0.2s linear;
}
nav.scroll-down {
  top: 0;
  box-shadow: 0 10px 50px linear-gradient(90deg, #05070d 0%, #0f1a25 50%, #172d3d 100%);
  opacity: 0.8;
}
.container { margin: 0 10%; width: 80%; }
.navbar-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-title{
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}
.links { display: flex; gap: 16px; }
.links a { color: #f8f8f8; }
